<h2 style="text-align: right;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;تەكلىپنامە</h2>
<p>&nbsp; ھۆرمەتلىك ھەسەنجان:</p>
<p>&nbsp; سىزلەرنى 2013-يىل 3-ئاينىڭ 19-كۈنى (سەيشەنبە) ئۆتۈزۈلىدىغان، ئالىمجان بىلەن ئايشەمگۈلنىڭ تويىغا تەكلىپ قىلىمىز.</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ئېھتىرام بىلەن: ئالىمجان</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ئېھتىرام بىلەن: ئايشەمگۈل</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ئورنى: تەكلىماكان رېستۇرانى (ياشلار باغچىسىنىڭ كەينىدە)</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ئۈرۈمچى ۋاقتى: سائەت 12:00 دە</p>
<p>&nbsp;</p>
<p>&nbsp;</p>