<h2 style="text-align: center;">كۈندىلىك خاتىرىنى قانداق يېزىش كېرەك؟</h2>
<ul style="list-style-type: circle;">
<li style="line-height: 2;">كۈندىلىك خاتىرە بىزنىڭ كۈندىلىك تۇرمۇشىمىز ھەققىدىكى خاتىرىدۇر. ئەھمىيىتى بولغان ئىشلارنىڭ ھەممىسىلا كۈندىلىك خاتىرە ئۈچۈن ئوبدان ماتېرىيال بولالايدۇ.</li>
<li style="line-height: 2;">مەسىلەن : بىر كۈندە قىلغان ئىشلار. كۆرگەن ۋە ئاڭلىغانلار، ئوقۇغان كىتابلار، مەكتەپتە ئېلىپ بېرىلغان پائالىيەتلەر، ئۆيدە قىلىنغان ئىشلارنىڭ ھەممىسىنى كۈندىلىك خاتىرىگە يېزىشقا بولىدۇ.</li>
<li style="line-height: 2;">كۈندىلىك خاتىرە يانغاندا، ئاۋۋال خاتىرىلەشكە تېگىشلىك ئىشلارنى تاللاش كېرەك . يېنىشقا تېگىشلىك ئىشلارنىڭ كۆپ بولۇشىغا ئەمەس. مەزمۇنلۇق بولۇشىغا ئېتىبار بېرىش كېرەك. ئاڭلىغان. كۆرگەن ۋە بىلگەنلەرنىڭ ھەممىسىنى يېزىۋەرمەستىن، بىرەر ئىشنى ياكى ئۇنىڭدىن ئالغان تەسىراتنى يازسىمۇ بولىدۇ. كۈندىلىك، خاتىرىنىڭ دائىم بىر قېلىپىدا بولۇپ قېلىشىدىن ساقلىنىش لازىم.</li>
<li style="line-height: 2;">كۈندىلىك خاتىرە يازغاندا يىل ، ئاي ، كۈن ، ھەپتىنىڭ قايسى كۈنى ئىكەنلىكىنى ۋە ھاۋا رايىنىڭ قانداقلىقىنى يېزىش . شۇنداقلا سۆز - جۈملىلەرنى راۋان خەتنى توغرا ھەم ئېنىق يېرىش كېرەك.</li>
</ul>