<h2 style="text-align: center;">ئۇقتۇرۇش</h2>
<p>&nbsp; مەكتەپ بۇلبۇل ، خور ئۆمىكى مۇشۇ ئاينىڭ 9 - كۈنى چۈشتىن كېيىن سائەت 4.00 تە (ئۈرۈمچى ۋاقتى) مەكتەپلەرنىڭ بىرلەشمە يىغىن زالىدا سەنئەت نومۇرلىرىنى رەپىتىس قىلماقچى.</p>
<p>&nbsp; خور ئۆمىكىدىكى بارلىق ئەزالارنىڭ ئۆز ۋاقتىدا قاتنىشىشىنى ئۈمىد قىلىمىز.</p>
<p style="text-align: center;">مەكتەپ سەنئەت ئوقۇتۇش گۇرۇپپىسى</p>
<p style="text-align: center;">2002-يىل 9-ئاينىڭ 8-كۈنى</p>
<p style="text-align: center;">&nbsp;</p>
<blockquote>
<p><span style="font-family: UKIJCJKRegular;">چۈشەندۈرۈلىشى: كۈندىلىك تۇرمۇشتا، ئادەتتىكى قىسقا ئۇقتۇرۇشلارنىڭ مەزمۇنىغا ئۇقتۇرۇش قىلىنىدىغان ئوبيېكتلار ئېنىق يېزىلىدۇ. ۋاقىت ئەسكەرتىلىدۇ.</span></p>
</blockquote>